body{

    font-family:Arial,sans-serif;

}

#chat-toggle{

    position:fixed;

    bottom:20px;

    right:20px;

    width:60px;

    height:60px;

    border:none;

    border-radius:50%;

    background:#2563eb;

    color:white;

    font-size:24px;

    cursor:pointer;

}

#chat-panel{

    position:fixed;

    bottom:90px;

    right:20px;

    width:380px;

    height:650px;

    background:white;

    border-radius:12px;

    box-shadow:0 10px 30px rgba(0,0,0,.25);

    display:none;

    flex-direction:column;

    overflow:hidden;

}

#chat-header{

    background:#2563eb;

    color:white;

    padding:12px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

#close-btn{

    cursor:pointer;

}

#login-section{

    padding:15px;

    display:flex;

    flex-direction:column;

    gap:10px;

}

#login-section input,
#login-section select{

    padding:10px;

}

#login-btn{

    padding:10px;

    background:#2563eb;

    color:white;

    border:none;

    cursor:pointer;

}

#filters{

    padding:10px;

    border-bottom:1px solid #ddd;

    max-height:180px;

    overflow:auto;

}

#filters label{

    display:block;

    margin-bottom:6px;

    font-size:13px;

}

#chat-body{
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.msg{

    margin:8px 0;

    padding:10px;

    border-radius:8px;

}

.user{

    background:#dbeafe;

}

.bot{

    background:#e5e7eb;

}

#chat-footer{

    display:flex;

    border-top:1px solid #ddd;

}

#chat-input{

    flex:1;

    border:none;

    padding:12px;

}

#send-btn{

    border:none;

    background:#2563eb;

    color:white;

    padding:12px;

    cursor:pointer;

}

/* esta parte es de los dots dinamicos  */

.typing-dots {
    display: flex;
    gap: 5px;
}

.typing-dots span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #666;
    animation: typing 1.4s infinite;
}

.typing-dots span:nth-child(2) {
    animation-delay: .2s;
}

.typing-dots span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes typing {
    0%,80%,100% {
        opacity: .3;
    }
    40% {
        opacity: 1;
    }
}
